.header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
    background-color: #090909;
}

.headerContainer, .borderContainer div {
    border-radius: 60px;
    height: 60px;
}

.borderContainer {
    overflow: hidden;
    position: relative;
}

.borderContainer, .borderContainer div {
    transition: left 900ms ease;
}

.borderContainer div {
    position: absolute;
    border: 1px solid white;
    backdrop-filter: blur(10px);
}

.headerContainer {
    position: absolute;
    background-color: #09090980;
    
    align-items: center;
    display: flex;
    /* border: 1px solid white; */
    width: 50%;
    justify-content: space-between;
}

.header ul {
    display: flex;
}

.logo {
    position: relative;
    opacity: 0;
    transition: opacity 900ms ease;
}

.logo.visible {
    animation: logo 900ms ease;
    opacity: 1;
    left: 0;
}

.nav {
    opacity: 0;
    transition: opacity 900ms ease;
    
}

.nav.visible {
    opacity: 1;
}

@keyframes logo {
    0% {
        opacity: 0;
        left: 40%;
    }
    30% {
        opacity: 1;
        left: 40%;
    }
    100% {
        left: 0;
    }
}