.borderContainer, .headerContainer, .headerWrapper {
    width: 100%;
}

.header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    color: white;
    z-index: 9999;
}

.headerContainer, .borderContainer div {
    border-radius: 60px;
}

.headerContainer, .borderContainer div, .mobileContainer {
    height: 60px;
}

.borderContainer {
    overflow: hidden;
    left: 100%;
}

.borderContainer div {
    left: -100%;
}

.borderContainer.active, .borderContainer.active div {
    left: 0;
}

.borderContainer, .borderContainer div.black {
    transition: left 900ms ease;
}

.borderContainer div {
    position: absolute;
}

.blur {
    border: 1px solid white;
    backdrop-filter: blur(10px);
}

.headerContainer {
    background-color: var(--background-color);
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.9s;
}

.headerContainer.visible {
    background-color: #1A1A1A80;
}

.header ul {
    display: flex;
}

.nav {
    opacity: 0;
    transition: opacity 900ms ease;
    z-index: 1;
}

.logo.visible {
    animation: logo 900ms ease;
    opacity: 1;
    left: 0;
}

.nav.visible {
    opacity: 1;
}

@media only screen and (min-width: 576px) {

    .logo {
        position: relative;
        opacity: 0;
        transition: opacity 900ms ease;
    }
}


@keyframes logo {
    0% {
        opacity: 0;
        left: 40%;
    }
    30% {
        opacity: 1;
        left: 40%;
    }
    100% {
        left: 0;
    }
}