.sticker-label {
    font-family: 'microgramma_d_otMdEx';
    font-weight: 600;
    letter-spacing: 2px;
    display: inline-block;
    background-color: #8e1a0a;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1em;
    margin-top: 16px;
}

.main-container {
    justify-content: center;
    flex-direction: column-reverse;
}

.circuits-container, .sidebar-button-container {
    margin-top: auto;
}

.sidebar-button {
    transform: rotate(-90deg) scale(0.6);
}

@media only screen and (max-width: 576px) {
    .sidebar-button-container {
        justify-content: center;
        width: 100%;
    }
}

@media only screen and (min-width: 576px) {

    .sidebar-button-container {
        margin-top: 0;
    }

    .sidebar-button {
        transform: rotate(0) scale(1);
    }

    .main-container {
        justify-content: start;
        flex-direction: row;
    }

    .circuits-container {
        margin-top: 0;
    }

}