PASSWORD=123
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=123456
ATTESTATION_DURATION=604800000
NEXT_PUBLIC_PRINT_URL=http://localhost:3000/api
IMGBB_API_KEY=123
ALLOWED_ORIGIN=http://localhost:3000
TELEGRAM_TOKEN=123:saansfop2
TELEGRAM_CHAT_ID_2FA=
TELEGRAM_WEB_HOOK_URL=https://localhost:3000/api/auth/telegram
FINANCE_PASSWORD=123
FINANCE_JWT_SECRET=change-me
FINANCE_TOKEN_EXPIRATION=90d