.cuboid {
	height: calc(var(--height) * 1vmin);
	width: calc(var(--width) * 1vmin);
}

.cuboid .side {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100%;
	width: 100%;
	border-radius: 2px;
	border: 0.15vmin solid #00000038;
	box-shadow: 0 0 2vmin -0.5vmin #0008 inset;
}

.cuboid .side:nth-of-type(1) {
	transform: translate3d(-50%, -50%, calc(var(--depth) * 0.5vmin));
	background: hsl(var(--hue), var(--sat), 50%);
}
.cuboid .side:nth-of-type(2) {
	transform: translate3d(-50%, -50%, calc(var(--depth) * -0.5vmin))
		rotateY(180deg);
	background: hsl(var(--hue), var(--sat), 35%);
}
.cuboid .side:nth-of-type(3) {
	width: calc(var(--depth) * 1vmin);
	transform: translate(-50%, -50%) rotateY(90deg)
		translate3d(0, 0, calc(var(--width) * 0.5vmin));
	background: hsl(var(--hue), var(--sat), 75%);
}
.cuboid .side:nth-of-type(4) {
	width: calc(var(--depth) * 1vmin);
	transform: translate(-50%, -50%) rotateY(-90deg)
		translate3d(0, 0, calc(var(--width) * 0.5vmin));
	background: hsl(var(--hue), var(--sat), 75%);
}
.cuboid .side:nth-of-type(5) {
	height: calc(var(--depth) * 1vmin);
	transform: translate(-50%, -50%) rotateX(90deg)
		translate3d(0, 0, calc(var(--height) * 0.5vmin));
	background: hsl(var(--hue), var(--sat), 70%);
}
.cuboid .side:nth-of-type(6) {
	height: calc(var(--depth) * 1vmin);
	transform: translate(-50%, -50%) rotateX(-90deg)
		translate3d(0, 0, calc(var(--height) * 0.5vmin));
	background: hsl(var(--hue), var(--sat), 20%);
}
/*** CUBOID END ***/

/*** KEYPAD ***/
.cuboid.keyboard {
	--width: 25;
	--height: 30;
	--depth: 20;
	--hue: 75;
	--sat: 5%;
	transform: translate3d(-7vmin, 32.25vmin, 16.5vmin);
	position: absolute;
}

.cuboid.keyboard .side:nth-of-type(3),
.cuboid.keyboard .side:nth-of-type(4) {
	background: #888b80;
}

.cuboid.keyboard:after {
	content: "";
	width: 3.25vmin;
	height: 1.25vmin;
	background: #0002;
	position: absolute;
	left: 5%;
	bottom: 5%;
	transform: translateZ(10vmin);
	border-radius: 0.25vmin;
	border: 0.2vmin solid #0008;
	box-sizing: border-box;
	border-color: #fff4 #0004 #0004 #fff4;
	content: "ARRAS";
	font-family: Arial;
	font-size: 0.6vmin;
	text-align: center;
	line-height: 1vmin;
	text-shadow: 0.1vmin 0.1vmin 0 #bec3b090, -0.1vmin -0.1vmin 0 #6667;
}

/* Ligths */
.ligths {
	position: absolute;
	width: 6vmin;
	height: 30vmin;
	transform: translate3d(0.15vmin, -0.5vmin, 10vmin);
}

.cuboid.light,
.cuboid.number {
	--width: 3.25;
	--height: 3.25;
	--depth: 2;
	--hue: 0;
	--sat: 50%;
	--lum: 50%;
	transform: translate3d(0vmin, 0vmin, 1vmin);
}

.light {
	width: 3.25vmin;
	height: 3.25vmin;
	position: absolute;
	left: 1.25vmin;
	top: 2vmin;
}

.light.yellow {
	top: 7vmin;
	--hue: 55;
}

.light.green {
	top: 12vmin;
	--hue: 100;
}

.light.white {
	top: 17vmin;
	--hue: 0;
	--sat: 80%;
}

.light.btn {
	top: 22vmin;
	--hue: 0;
	--sat: 20%;
	cursor: pointer;
}

.light .side:nth-of-type(1):before {
	position: absolute;
	content: "";
	background: radial-gradient(
		#fff4 0 10%,
		#fff0 12.5% 17.5%,
		#fff4 20% 25%,
		#fff0 27.5% 32.5%,
		#fff4 35% 40%,
		#fff0 42.5% 47.5%,
		#fff4 50% 55%,
		#fff0 57.5% 62.5%,
		#fff2 65% 70%
	);
	width: 100%;
	height: 100%;
}

.light.btn:active {
	transform: translate3d(0vmin, 0vmin, 0vmin);
}

/*** Colors ***/
.cuboid.light.red .side:nth-of-type(1) {
	background: #ff5555;
}
.cuboid.light.red .side:nth-of-type(3),
.cuboid.light.red .side:nth-of-type(4) {
	background: #cf3f3f;
}
.cuboid.light.red .side:nth-of-type(5) {
	background: #ff4949;
}
.cuboid.light.red .side:nth-of-type(6) {
	background: #9f2d2d;
}

.cuboid.light.yellow .side:nth-of-type(1) {
	background: #ffb837;
}
.cuboid.light.yellow .side:nth-of-type(3),
.cuboid.light.yellow .side:nth-of-type(4) {
	background: #bd8622;
}
.cuboid.light.yellow .side:nth-of-type(5) {
	background: #eea92b;
}
.cuboid.light.yellow .side:nth-of-type(6) {
	background: #6c4601;
}

.cuboid.light.green .side:nth-of-type(1) {
	background: #2fd92f;
}
.cuboid.light.green .side:nth-of-type(3),
.cuboid.light.green .side:nth-of-type(4) {
	background: #0fb60f;
}
.cuboid.light.green .side:nth-of-type(5) {
	background: #3eea3e;
}
.cuboid.light.green .side:nth-of-type(6) {
	background: #008800;
}

.cuboid.light.white .side:nth-of-type(1),
.cuboid.number .side:nth-of-type(1) {
	background: #fff;
}
.cuboid.light.white .side:nth-of-type(3),
.cuboid.light.white .side:nth-of-type(4),
.cuboid.number .side:nth-of-type(3),
.cuboid.number .side:nth-of-type(4) {
	background: #afaeae;
}
.cuboid.light.white .side:nth-of-type(5),
.cuboid.number .side:nth-of-type(5) {
	background: #e9e9e9;
}
.cuboid.light.white .side:nth-of-type(6),
.cuboid.number .side:nth-of-type(6) {
	background: #878787;
}

.cuboid.light.white .side:nth-of-type(1) {
	background: #ccc;
	box-shadow: 0 0 0.25vmin 0vmin #fff, 0 0 0.5vmin 0.05vmin #fff,
		0 0 1vmin 0.5vmin #fff inset;
	border-color: #fff;
}

.cuboid.light.btn .side:nth-of-type(1) {
	background: #7b7b7b;
}
.cuboid.light.btn .side:nth-of-type(3),
.cuboid.light.btn .side:nth-of-type(4) {
	background: #666666;
}
.cuboid.light.btn .side:nth-of-type(5) {
	background: #727272;
}
.cuboid.light.btn .side:nth-of-type(6) {
	background: #4c4c4c;
}

.light.red .side:nth-of-type(1):before {
	box-shadow: 0 0 0.5vmin 0.25vmin #ff3f3f, 0 0 0.5vmin 0.125vmin #ff3f3f,
		0 0 1vmin 0.5vmin #ff3f3f inset;
}

.light.yellow .side:nth-of-type(1):before {
	box-shadow: 0 0 0.5vmin 0.25vmin #ffc412, 0 0 0.5vmin 0.125vmin #ffc412,
		0 0 1vmin 0.5vmin #ffc412 inset;
}

.light.green .side:nth-of-type(1):before {
	box-shadow: 0 0 0.5vmin 0.25vmin #00ff00, 0 0 0.5vmin 0.125vmin #00ff00,
		0 0 1vmin 0.5vmin #00ff00 inset;
}

.light.btn:active + .light.white .side:nth-of-type(1):before {
	box-shadow: 0 0 0.5vmin 0.25vmin #fffce5, 0 0 0.5vmin 0.125vmin #fffce5,
		0 0 1vmin 1vmin #fffce5 inset;
	transition: all 0.1s ease 0s;
}

/* Lights Off */
.power-off .light .side:nth-of-type(1):before {
	box-shadow: none !important;
}

/* Numbers */
.numbers {
	position: absolute;
	background: #ffffff8f;
	width: 63%;
	height: 21.5vmin;
	border-radius: 0.25vmin;
	border: 0.25vmin solid #fff;
	border-color: #72615e #fff6 #fff8 #72615e;
	transform: translate3d(7vmin, 5.25vmin, 10vmin);
	box-shadow: 2px 2px 5px #5a433f, -2px -2px 5px #c6bbb9,
		0 0 1vmin 0 #404040 inset;
}
.number {
	cursor: pointer;
	position: absolute;
	transform: translate3d(0, 0, 1vmin);
	transition: all 0.05s ease 0s; /*test*/
}
.cuboid.number.one {
	left: 1.5vmin;
	top: 1.25vmin;
}
.cuboid.number.two {
	left: 6vmin;
	top: 1.25vmin;
}
.cuboid.number.three {
	left: 10.5vmin;
	top: 1.25vmin;
}
.cuboid.number.four {
	left: 1.5vmin;
	top: 6vmin;
}
.cuboid.number.five {
	left: 6vmin;
	top: 6vmin;
}
.cuboid.number.six {
	left: 10.5vmin;
	top: 6vmin;
}
.cuboid.number.seven {
	left: 1.5vmin;
	top: 10.75vmin;
}
.cuboid.number.eight {
	left: 6vmin;
	top: 10.75vmin;
}
.cuboid.number.nine {
	left: 10.5vmin;
	top: 10.75vmin;
}
.number.zero {
	left: 6vmin;
	top: 15.5vmin;
}
.number:active {
	transform: translate3d(0vmin, 0vmin, 0vmin);
	transition: all 0.05s ease 0s; /*test*/
}

/* Btn Numbers */
.cuboid.number .side:nth-child(1):before {
	content: "1";
	font-family: Arial;
	font-size: 2vmin;
	line-height: 3vmin;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	text-shadow: 0.15vmin 0.15vmin 0 #fff, -0.1vmin -0.1vmin 0 #6668;
}
.cuboid.number.two .side:nth-child(1):before {
	content: "2";
}
.cuboid.number.three .side:nth-child(1):before {
	content: "3";
}
.cuboid.number.four .side:nth-child(1):before {
	content: "4";
}
.cuboid.number.five .side:nth-child(1):before {
	content: "5";
}
.cuboid.number.six .side:nth-child(1):before {
	content: "6";
}
.cuboid.number.seven .side:nth-child(1):before {
	content: "7";
}
.cuboid.number.eight .side:nth-child(1):before {
	content: "8";
}
.cuboid.number.nine .side:nth-child(1):before {
	content: "9";
}
.cuboid.number.zero .side:nth-child(1):before {
	content: "0";
}

/* Btn Border */
.cuboid.number:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: -0.25vmin;
	top: -0.25vmin;
	transform: translateZ(-1vmin);
	box-shadow: 2px 2px 5px #5a433f, -2px -2px 5px #c6bbb9,
		0 0 1vmin 0 #404040 inset;
	border-radius: 0.25vmin;
	border: 0.25vmin solid #fff;
	border-color: #72615e #fff6 #fff8 #72615e;
	background: #fff;
	transition: all 0.05s ease 0s; /*test*/
}

.number:active:before {
	transform: translate3d(0vmin, 0vmin, 0vmin);
	transition: all 0.05s ease 0s; /*test*/
}

.cuboid.number {
	--depth: 1.75;
	--hue: 150;
	--sat: 10%;
}

.cuboid.light .side {
	box-shadow: 0 0 2vmin 0vmin #fff8 inset;
	border-color: #fff1;
}

.group.power-off .cuboid.light .side {
	box-shadow: 0 0 0vmin -0.5vmin #fff8 inset;
	border-color: #0001;
}

.cuboid.light.btn .side {
	box-shadow: 0 0 0.75vmin 0.5vmin #3338 inset;
}

.cuboid.light .side + .side {
	filter: brightness(1.25);
}

.group.power-off .cuboid.light.btn .side {
	box-shadow: none;
	border-color: #0000;
}

/*** ERROR ***/
.error {
	position: absolute;
	width: 15vmin;
	height: 11vmin;
	background: #1e90ff47;
	font-size: 2.25vmin;
	color: #81c0f3;
	text-align: left;
	padding: 1vmin 0.75vmin;
	border: 0.25vmin solid #2196f3;
	line-height: 4vmin;
	text-shadow: 0 0 0.5vmin #2196f3;
	-webkit-animation: hide 6s ease 0s;
	animation: hide 6s ease 0s;
	right: 1vmin;
	bottom: 39.5vmin;
	border-radius: 0.25vmin;
	animation-fill-mode: forwards;
	transition: 0.5s ease 0s;
}

@-webkit-keyframes hide {
	0% {
		right: -15vmin;
	}
	20% {
		right: 1vmin;
	}
	80% {
		right: 1vmin;
	}
	100% {
		right: -15vmin;
	}
}

@keyframes hide {
	0% {
		right: -15vmin;
	}
	20% {
		right: 1vmin;
	}
	80% {
		right: 1vmin;
	}
	100% {
		right: -15vmin;
	}
}

.error:before {
	white-space: pre-wrap;
	content: "888888888 \A 888888888";
	position: absolute;
	color: #0003;
	text-shadow: none;
}

.error:after {
	content: "";
	position: absolute;
	text-shadow: none;
	height: 90%;
	top: 5%;
	background: linear-gradient(90deg, #fff0, var(--blue), #fff0);
	width: 1vmin;
	right: -1.35vmin;
}