.borderContainer, .headerContainer, .headerWrapper {
    width: 100%;
}

.mainHeaderContainer ul li {
    text-wrap: nowrap;
}

.headerWrapper ul li {
    display: flex;
    align-items: center;
}

.header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    color: white;
    z-index: 10;
}

.headerContainer, .borderContainer div {
    border-radius: var(--header-height);
}

.headerContainer, .borderContainer div, .mobileContainer {
    height: var(--header-height);
}

.dropdownMobile li {
    width: 100%;
}

.dropdownMobile li span{
    display: flex;
    flex-direction: row-reverse;
}

.dropdownMobile li {
    padding: 2rem 3rem;
    /* TODO: check */
    font-size: 1.2rem;
    font-weight: var(--semibold-font-weight);
}

.borderContainer {
    overflow: hidden;
    left: 100%;
}

.borderContainer div {
    left: -100%;
}

.borderContainer.active, .borderContainer.active div {
    left: 0;
}

.borderContainer, .borderContainer div.black {
    transition: left 900ms ease;
}

.borderContainer div {
    position: absolute;
}

.blur {
    border: 1px solid white;
    backdrop-filter: blur(10px);
}

.headerContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.9s;
}

.headerContainer.visible {
    background-color: var(--header-active-color);
}

.mobileContainer {
    background-color: var(--header-active-mobile-color);
}

.header ul {
    display: flex;
}

.desktopNav {
    opacity: 0;
    transition: opacity 900ms ease;
    z-index: 1;
}

.logo.visible {
    animation: logo 900ms ease;
    opacity: 1;
    left: 0;
}

.desktopNav.visible {
    opacity: 1;
}

.desktopNav ul li span {
    transition: color .3s;
    cursor: pointer;
    color: inherit;
    font-weight: var(--semibold-font-weight);
    position: relative;
}

.desktopNav ul .li.isActive, .desktopNav ul .li:hover {
    /* TODO: darkmode */
    color: var(--accent-color-primary);
}

.desktopNav ul li span::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;

    /* content: '';
    height: 3px;
    width: 100%;
    /* TODO: darkmode
    background-color: white; */
}

.desktopNav ul li span:hover::after {
    width: 100%; /* Expande la barrita blanca al 100% del ancho del li en el hover */
}

@media only screen and (min-width: 576px) {
    .mobileContainer {
        margin: 0;
        width: 100%;
    }

    .logo {
        position: relative;
        opacity: 0;
        transition: opacity 900ms ease;
    }
}


@keyframes logo {
    0% {
        opacity: 0;
        left: 40%;
    }
    30% {
        opacity: 1;
        left: 40%;
    }
    100% {
        left: 0;
    }
}