.over {
  z-index: 101;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
  -webkit-animation-name: lightUp;
  animation-name: lightUp;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s; }

.overall-container {
  display: table-cell;
  vertical-align: middle; }

  @font-face {
    font-family: 'lcdmono2bold';
    src: url("/font/lcdm2b__-webfont.eot");
    src: url("/font/lcdm2b__-webfont.eot?#iefix") format("embedded-opentype"), url("/font/lcdm2b__-webfont.woff2") format("woff2"), url("/font/lcdm2b__-webfont.woff") format("woff"), url("/font/lcdm2b__-webfont.ttf") format("truetype"), url("/font/lcdm2b__-webfont.svg#lcdmono2bold") format("svg");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'microgramma_d_otMdEx';
    src: url("/font/microgramma-d-ot-medium-extended_30404-webfont.eot");
    src: url("/font/microgramma-d-ot-medium-extended_30404-webfont.eot?#iefix") format("embedded-opentype"), url("/font/microgramma-d-ot-medium-extended_30404-webfont.woff") format("woff"), url("/font/microgramma-d-ot-medium-extended_30404-webfont.ttf") format("truetype"), url("/font/microgramma-d-ot-medium-extended_30404-webfont.svg#microgramma_d_otMdEx") format("svg");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'digital-7_monoitalic';
    src: url("/font/digital-7_mono_italic-webfont.eot");
    src: url("/font/digital-7_mono_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/font/digital-7_mono_italic-webfont.woff2") format("woff2"), url("/font/digital-7_mono_italic-webfont.woff") format("woff"), url("/font/digital-7_mono_italic-webfont.ttf") format("truetype"), url("/font/digital-7_mono_italic-webfont.svg#digital-7_monoitalic") format("svg");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'fontello';
    src: url("/font/fontello.eot?94494243");
    src: url("/font/fontello.eot?94494243#iefix") format("embedded-opentype"), url("/font/fontello.woff?94494243") format("woff"), url("/font/fontello.ttf?94494243") format("truetype"), url("/font/fontello.svg?94494243#fontello") format("svg");
    font-weight: normal;
    font-style: normal; }

  .icon-light-up:before {
    content: '\e800'; }
    
  .overall-container {
    display: table-cell;
    vertical-align: middle; }
  
  .individual-time-circuit-wrapper-area {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: content-box;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #CCC;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-style: groove;
    border-bottom-width: 2px;
    border-bottom-color: #323232;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }

    .individual-time-circuit-wrapper-area2 {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      box-sizing: content-box;
      border-top-style: solid;
      border-top-width: 3px;
      border-top-color: #CCC;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border-bottom-style: groove;
      border-bottom-width: 2px;
      border-bottom-color: #323232;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px; }
    
    .individual-time-circuit-wrapper-area2:after {
      content: "";
      display: block;
      padding-top: 21%; }
  
  .destination {
    background-image: url("/mottled_metal_1.jpg"); }
  
  .present {
    background-image: url("/mottled_metal_2.jpg"); }
  
  .last-time-departed {
    background-image: url("/mottled_metal_3.jpg"); }
  
  .individual-time-circuit-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
 }
  
  .console-display {
    display: inline-block; }
  
  .sticker-label, .footer-label, .am-label, .pm-label {
    font-family: 'microgramma_d_otMdEx';
    font-weight: 600;
  }
  
  .sticker-label-container {
    display: flex;
    flex-direction: column;
  }

  .sticker-label-container.month {
    width: 19.375%;
  }

  .sticker-label-container.month, .sticker-label-container.day {
    margin-left: 3%;
  }

  .sticker-label-container.year {
    margin-left: 4%;
  }

  .console-am-pm-container {
    margin: 4.5% 0.1% 0 0.1%;
  }

  .console-am-pm-container .am, .console-am-pm-container .pm {
    margin: 5% 0 10% 0;
  }

  .indicator-light-container {
    height: 15.65%;
    margin-bottom: 14%;
  }

  .console-colon-lights {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7% 1.3% 0 1.3%;
  }

  .console-colon-lights .top {
    margin-bottom: 30%;
  }

  .console-colon-lights .bottom {
    margin-top: 30%;
  }

  .sticker-label {
    margin: 6% 0;
  }

  .sticker-label.day, .sticker-label.hour, .sticker-label.min {
    margin: 10% 0;
  }

  .sticker-label-container.day, .sticker-label-container.hour, .sticker-label-container.min {
    width: 11.97%;
  }

  .sticker-label-container.year {
    width: 22.4%;
  }

  .sticker-label {
    display: flex;
    justify-content: center;
    background-color: #8e1a0a;
    color: white;
    padding-left: 5%;
    padding-right: 5%; }

  .footer-label-container {
    margin-bottom: 1%;
  }
  
  .footer-label {
    letter-spacing: 3px;
    padding: 0 1.5%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: .3em; }

  .lcd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62%;
  }
  
  .console-month {
    text-align: center;
    width: 100%; /* 186 */ }
  
  .console-month .faded-eights {
    width: 17.7%; /* 170 */
    text-align: center; }
  
  /***** AM PM stuff *****/
  .am-label, .pm-label, .sticker-label {
    font-size: .4em;
  }
  
  .am-label, .pm-label {
    background-color: #8e1a0a;
    color: white;
    line-height: 8px; }
  
  .am-label {
    bottom: 75px; }
  
  .pm-label {
    bottom: 24px; }
  
  .indicator-light {
    height: 5.5px;
    width: 5.5px;
    border-radius: 50%; }
    
  .indicator-light.am, .indicator-light.pm {
    height: 5.5px;
    min-width: 5.5px;
    max-width: 5.5px;
  }

  .destination .indicator-light.light-red {
    background-color: #F7582F;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -0.323px 2.261px 0.323px, inset #4d1406 0 -0.323px 1.45px, #d34826 0 0.646px 3.87px;
  }

  
  .destination .indicator-light.am.light-on,
  .destination .indicator-light.pm.light-on,
  .destination .console-colon-lights .top,
  .destination .console-colon-lights .bottom {
    background-color: #EFF288;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -0.323px 2.261px 0.323px, inset #304701 0 -0.323px 1.45px, #EFF288 0 0.646px 3.87px; }
  
  .destination .indicator-light.am.light-off,
  .destination .indicator-light.pm.light-off {
    background-color: #3E2917;
    box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
  
  .destination .console-colon-lights .top,
  .destination .console-colon-lights .bottom {
    -webkit-animation: blink-destination-lights 1s step-start infinite;
    animation: blink-destination-lights 1s step-start infinite; }
  
  @-webkit-keyframes blink-destination-lights {
    0% {
      background-color: #3E2917;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
    50% {
      background-color: #EFF288;
      box-shadow: rgba(0, 0, 0, 0.1) 0 -0.323px 2.261px 0.323px, inset #304701 0 -0.323px 1.45px, #EFF288 0 0.646px 3.87px; }
    100% {
      background-color: #3E2917;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; } }
  
  @keyframes blink-destination-lights {
    0% {
      background-color: #3E2917;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
    50% {
      background-color: #EFF288;
      box-shadow: rgba(0, 0, 0, 0.1) 0 -0.323px 2.261px 0.323px, inset #304701 0 -0.323px 1.45px, #EFF288 0 0.646px 3.87px; }
    100% {
      background-color: #3E2917;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; } }
  
  .present .indicator-light.am.light-on,
  .present .indicator-light.pm.light-on,
  .present .console-colon-lights .top,
  .present .console-colon-lights .bottom {
    background-color: #8AF250;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -0.323px 2.261px 0.323px, inset #304701 0 -0.323px 1.45px, #8AF250 0 0.646px 3.87px; }
  
  .present .indicator-light.am.light-off,
  .present .indicator-light.pm.light-off {
    background-color: #0E1510;
    background-color: #330;
    box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
  
  .present .console-colon-lights .top,
  .present .console-colon-lights .bottom {
    -webkit-animation: blink-present-lights 1s step-start infinite;
    animation: blink-present-lights 1s step-start infinite; }
  
  @-webkit-keyframes blink-present-lights {
    0% {
      background-color: #0E1510;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
    50% {
      background-color: #8AF250;
      box-shadow: rgba(0, 0, 0, 0.1) 0 -0.323px 2.261px 0.323px, inset #304701 0 -0.323px 1.45px, #8AF250 0 0.646px 3.87px; }
    100% {
      background-color: #0E1510;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; } }
  
  @keyframes blink-present-lights {
    0% {
      background-color: #0E1510;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
    50% {
      background-color: #8AF250;
      box-shadow: rgba(0, 0, 0, 0.1) 0 -0.323px 2.261px 0.323px, inset #304701 0 -0.323px 1.45px, #8AF250 0 0.646px 3.87px; }
    100% {
      background-color: #0E1510;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; } }
  
  .last-time-departed .indicator-light.am.light-on,
  .last-time-departed .indicator-light.pm.light-on,
  .last-time-departed .console-colon-lights .top,
  .last-time-departed .console-colon-lights .bottom {
    background-color: #F4DF5C;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -0.323px 2.261px 0.323px, inset #304701 0 -0.323px 1.45px, #F4DF5C 0 0.646px 3.87px; }
  
  .last-time-departed .indicator-light.am.light-off,
  .last-time-departed .indicator-light.pm.light-off {
    background-color: #330;
    box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
  
  .last-time-departed .console-colon-lights .top,
  .last-time-departed .console-colon-lights .bottom {
    -webkit-animation: blink-last-lights 1s step-start infinite;
    animation: blink-last-lights 1s step-start infinite; }
  
  @-webkit-keyframes blink-last-lights {
    0% {
      background-color: #330;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
    50% {
      background-color: #F4DF5C;
      box-shadow: rgba(0, 0, 0, 0.1) 0 -0.323px 2.261px 0.323px, inset #304701 0 -0.323px 1.45px, #F4DF5C 0 0.646px 3.87px; }
    100% {
      background-color: #330;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; } }
  
  @keyframes blink-last-lights {
    0% {
      background-color: #330;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
    50% {
      background-color: #F4DF5C;
      box-shadow: rgba(0, 0, 0, 0.1) 0 -0.323px 2.261px 0.323px, inset #304701 0 -0.323px 1.45px, #F4DF5C 0 0.646px 3.87px; }
    100% {
      background-color: #330;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; } }
  
  .lcd {
    background-color: black;
    border-radius: 4px;
    color: red;
    font-family: 'digital-7_monoitalic';
    font-size: 2.3em;
    padding: 5.8% 2.7%;
    line-height: 100%; }

  .row-of-numbers-display-area {
    max-height: 70%;
    display: flex; 
  }
  
  .destination .lcd {
    color: #FF6410; }
  
  .present .lcd {
    color: #67FC42; }
  
  .last-time-departed .lcd {
    color: #F4CE26; }
    
  @keyframes lightUp {
    0% {
      background: #000000; }
    30% {
      background: #000000; }
    60% {
      background: #000000; }
    100% {
      background: transparent; } }
  
  @-webkit-keyframes lightUp {
    0% {
      background: #000000; }
    30% {
      background: #000000; }
    60% {
      background: #000000; }
    100% {
      background: transparent; } }
  
  .faded-eights {
    position: absolute;
    opacity: .15; }
  
  .destination .console-day .faded-eights {
    opacity: .25; }
  
  .destination .console-year .faded-eights {
    opacity: .3; }
  
  .destination .console-hour .faded-eights {
    opacity: .25; }
  
  .present .console-year .faded-eights {
    opacity: .2; }
  
  .last-time-departed .console-year .faded-eights {
    opacity: .2; }
  
  .last-time-departed .console-hour .faded-eights {
    opacity: .2; }
  
  .last-time-departed .console-min .faded-eights {
    opacity: .25; }
  
  .brightness {
    display: inline-block;
    margin-top: 15px;
    margin-right: 50px;
    background-color: #aaa;
    color: white; }

@media only screen and (min-width: 576px) {
  .destination .indicator-light.light-red {
    background-color: #F7582F;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #4d1406 0 -1px 4.5px, #d34826 0 2px 12px;
  }

  
  .destination .indicator-light.am.light-on,
  .destination .indicator-light.pm.light-on,
  .destination .console-colon-lights .top,
  .destination .console-colon-lights .bottom {
    background-color: #EFF288;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #304701 0 -1px 4.5px, #EFF288 0 2px 12px; }
  
  .destination .indicator-light.am.light-off,
  .destination .indicator-light.pm.light-off {
    background-color: #3E2917;
    box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
  
  .destination .console-colon-lights .top,
  .destination .console-colon-lights .bottom {
    -webkit-animation: blink-destination-lights 1s step-start infinite;
    animation: blink-destination-lights 1s step-start infinite; }
  
  @-webkit-keyframes blink-destination-lights {
    0% {
      background-color: #3E2917;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
    50% {
      background-color: #EFF288;
      box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #304701 0 -1px 4.5px, #EFF288 0 2px 12px; }
    100% {
      background-color: #3E2917;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; } }
  
  @keyframes blink-destination-lights {
    0% {
      background-color: #3E2917;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
    50% {
      background-color: #EFF288;
      box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #304701 0 -1px 4.5px, #EFF288 0 2px 12px; }
    100% {
      background-color: #3E2917;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; } }
  
  .present .indicator-light.am.light-on,
  .present .indicator-light.pm.light-on,
  .present .console-colon-lights .top,
  .present .console-colon-lights .bottom {
    background-color: #8AF250;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #304701 0 -1px 4.5px, #8AF250 0 2px 12px; }
  
  .present .indicator-light.am.light-off,
  .present .indicator-light.pm.light-off {
    background-color: #0E1510;
    background-color: #330;
    box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
  
  .present .console-colon-lights .top,
  .present .console-colon-lights .bottom {
    -webkit-animation: blink-present-lights 1s step-start infinite;
    animation: blink-present-lights 1s step-start infinite; }
  
  @-webkit-keyframes blink-present-lights {
    0% {
      background-color: #0E1510;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
    50% {
      background-color: #8AF250;
      box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #304701 0 -1px 4.5px, #8AF250 0 2px 12px; }
    100% {
      background-color: #0E1510;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; } }
  
  @keyframes blink-present-lights {
    0% {
      background-color: #0E1510;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
    50% {
      background-color: #8AF250;
      box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #304701 0 -1px 4.5px, #8AF250 0 2px 12px; }
    100% {
      background-color: #0E1510;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; } }
  
  .last-time-departed .indicator-light.am.light-on,
  .last-time-departed .indicator-light.pm.light-on,
  .last-time-departed .console-colon-lights .top,
  .last-time-departed .console-colon-lights .bottom {
    background-color: #F4DF5C;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #304701 0 -1px 4.5px, #F4DF5C 0 2px 12px; }
  
  .last-time-departed .indicator-light.am.light-off,
  .last-time-departed .indicator-light.pm.light-off {
    background-color: #330;
    box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
  
  .last-time-departed .console-colon-lights .top,
  .last-time-departed .console-colon-lights .bottom {
    -webkit-animation: blink-last-lights 1s step-start infinite;
    animation: blink-last-lights 1s step-start infinite; }
  
  @-webkit-keyframes blink-last-lights {
    0% {
      background-color: #330;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
    50% {
      background-color: #F4DF5C;
      box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #304701 0 -1px 4.5px, #F4DF5C 0 2px 12px; }
    100% {
      background-color: #330;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; } }
  
  @keyframes blink-last-lights {
    0% {
      background-color: #330;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; }
    50% {
      background-color: #F4DF5C;
      box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #304701 0 -1px 4.5px, #F4DF5C 0 2px 12px; }
    100% {
      background-color: #330;
      box-shadow: inset -0.323px 0.646px 0.969px #ababab; } }

  .indicator-light {
    height: 12px;
    width: 12px; }
    
  .indicator-light.am, .indicator-light.pm {
    height: 12px;
    min-width: 12px;
    max-width: 12px;
  }

  .sticker-label.day, .sticker-label.hour, .sticker-label.min {
    margin: 11.5% 0;
  }

  .sticker-label {
    margin: 7% 0;
  }

  .console-colon-lights {
    margin: 8% 1.3% 0 1.3%;
  }


  .am-label, .pm-label {
    line-height: 24px; }
  .lcd {
    font-size: 5.5em;
  }

  .sticker-label {
    font-size: 1.3em; }

  .footer-label {
    font-size: 1.5em; }

  .am-label, .pm-label {
    font-size: 1.3em;
  }
}
  
@media only screen and (min-width: 1000px) {

  .indicator-light {
    height: 17px;
    width: 17px; }
    
  .indicator-light.am, .indicator-light.pm {
    height: 17px;
    min-width: 17px;
    max-width: 17px;
  }


  .lcd {
    font-size: 6.7em;
  }

  .sticker-label {
    font-size: 1.3em; }

  .footer-label {
    font-size: 1.5em; }

  .am-label, .pm-label {
    font-size: 1.3em;
  }
}