.radial {
    content: '';
    position: absolute;
    top: calc(20% - 500px);
    left: -2800px;
    background: radial-gradient(circle, var(--gradial-circle-radiants), rgba(82,173,22,0) 42%, rgba(201,53,53,0) 100%);    width: 1500px;
    width: 4500px;
    height: 4500px;
}