.nav ul {
    position: relative;
}

.nav ul:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    border-radius: 50px;
    height: 100%;
    display: block;
    opacity: .4;
    background-color: white;/*f0f8ff*/
}

.container {
    top: 0;
    z-index: 100;
    margin: 3.125rem 0;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 1.125rem;
    height: calc(100dvh - 6.25rem);
}

.container {
    position: fixed;
}

.line {
    height: 50px;
    width: 3px;
    background-color: white; /*f0f8ff*/
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    transition: all .5s ease-in-out;
}

.nav {
    position: relative;
}

.nav {
    color: white;
}

.nav li {
    /* color: black; /*f0f8ff*/
    font-family: JetBrains Mono,monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.nav li, .header li {
    cursor: pointer;
}