.imageContainer {
    border-radius: 100%;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0 0 120px 10px var(--accent-color-primary), 0 0 120px 10px var(--accent-color-primary-light);
}

.shadow {
    z-index: 1;
}

.textContainer {
    order: 2;
}

.imageWrapper {
    order: 1;
}

@media only screen and (min-width: 768px) {
    .textContainer {
        order: 1;
    }
    
    .imageWrapper {
        order: 2;
    }
}