.laptopDots {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAAFkSURBVHhe7dY/SgNBFMfxVUHttBSxSGGhiJ5hQUtL/zQKgjfwBMkVvICdRfQIgnsBm4ggYpFGmxQKNppGfy/7ZpuksHBe4/cDP97OZJs3u5nZAgAAAAAAAAAAAP/ElNcwZVnOqpwo+8q6zcmjcq1cVFX1NZoJEroAan5JpatsjSbG3SuHWoTXepjftNfs/Mmn5p+VY2XFc+Rzm0pX986rhpjxml2r1TpVSY3u6Cn3+v3+0POk321xdpU1ZaC5O9Xswt4Asf+86aj5d79u+FynHhV7XrOLXIC04d16naTymu7NLnIBfuPba5jIBbCjzpReJ0m/pXuzi1wAO+dNW7v8ol83fK5dj5p7swv7DlCDcyo3ih11dhLYhpf2A3vy1vyq8qBsa1P8VM0u+kNoWeVK2RhNjLPmD9T8Sz3ML+w7wOhs/9B5f6nLgWKv/IIyVHrKuXKm5t9UAQAAAAAAAAAAgD9VFD9BwFR3PLRxJAAAAABJRU5ErkJggg==");
    background-repeat: space;
    background-size: 34px;
    height: 200%;
    position: absolute;
    top: -85%;
    left: 0;
    width: 80%;
    margin-left: 10%;
    z-index: -1;
}

@media only screen and (min-width: 576px) {
    .laptopDots {
        height: 100dvh;
    }
}