.layer1 {
    z-index: -1;
    position: fixed;
    height: 100dvh;
    width: 100vw;
    background-color: var(--background-color);
}

.lines1 {
    filter: blur(4px);
    position: absolute;
    top: 68%;
    left: -5%;
}

.lines2 {
    filter: blur(5px);
    position: absolute;
    top: 75%;
    left: 85%;
}

.lines3 {
    filter: blur(4px);
    position: absolute;
    right: -13%;
}

.lines4 {
    filter: blur(4px);
    position: absolute;
    left: -9%;
}


.mouse {
    position: fixed;
    top: 91%;
    left: 50%;
    transition: opacity 300ms;
}

.mousePassed {
    opacity: 0;
}

.semicolon {
    transform: rotate(-20deg);
    filter: blur(3px);
    position: absolute;
    top: 20%;
    left: 5%;
}

.dev {
    filter: blur(3px);
    transform: rotate(16deg);
    position: absolute;
    top: 50%;
    left: 85%;
}

.faceLogo {
    position: absolute;
    top: 0%;
    left: 50%;
    transition: all 900ms;
}

.faceLogoPassed {
    filter: blur(3px);
    transform: scale(0.5)
}

.tomasarras {
    position: absolute;
    left: 28%;
    opacity: .5;
}