.layer1 {
    z-index: -1;
    position: fixed;
    height: 100svh;
    width: 100vw;
    background-color: var(--background-color);
}

.layer2 {
    z-index: -1;
    height: 500vh;
    width: 100vw;
    position: absolute;
}

.lines1 {
    filter: blur(4px);
    position: absolute;
    top: 68%;
    left: -5%;
}

.lines2 {
    filter: blur(5px);
    position: absolute;
    top: 75%;
    left: 85%;
}

.lines3 {
    filter: blur(4px);
    position: absolute;
    right: -13%;
}

.lines4 {
    filter: blur(4px);
    position: absolute;
    left: -9%;
}


.mouse {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
    align-items: end;
    transition: opacity 300ms;
}

@media only screen and (min-width: 576px) {
    .mouse {
        padding-bottom: 50px;
    }
}

.mousePassed {
    opacity: 0;
}

.semicolon {
    transform: rotate(-20deg);
    filter: blur(3px);
    position: absolute;
    top: 20%;
    left: 5%;
}

.dev {
    filter: blur(3px);
    transform: rotate(16deg);
    position: absolute;
    top: 50%;
    left: 85%;
}

.faceLogo {
    position: absolute;
    top: 0%;
    left: 50%;
    transition: all 900ms;
}

.faceLogoPassed {
    filter: blur(3px);
    transform: scale(0.5)
}

.tomasarras {
    position: absolute;
    left: 30%;
    opacity: .5;
}