.layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    left: 50%;
    opacity: 0;
    transition: all 800ms ease;
}

.container.invisible {
    opacity: 0;
}

.container.active {
    left: 0;
    opacity: 1;
}

.item {
    -webkit-perspective: 240px;
    perspective: 240px;
    transform-style: preserve-3d;
    transform: rotateX(28deg) rotateY(45deg) rotateZ(5deg);
    position: absolute;
}

.item img, .dev img, .devImg, div.devShadow {
    opacity: 0;
    transition: all 800ms ease;
}

.item.console1 img:first-of-type {
    transition-delay: 900ms;
}

.item.console1 img:last-of-type {
    transition-delay: 2.5s;
}

.item.console2 img:first-of-type {
    transition-delay: 1.8s;
}

.item.console2 img:last-of-type {
    transition-delay: 3s;
}

.item.console3 img:first-of-type {
    transition-delay: 1.5s;
}

.item.console3 img:last-of-type {
    transition-delay: 2.6s;
}

.item.front1 img:first-of-type {
    transition-delay: 400ms;
}

.item.front1 img:last-of-type {
    transition-delay: 400ms;
}

.item.front2 img {
    transition-delay: 800ms;
}

.dev div.devShadow, img.devImg {
    transition-delay: 800ms;
}

.container.active .item img, .container.active .devImg {
    opacity: 1;
}

.container.active .devShadow {
    opacity: .5;
}

.console1 {
    top: 37%;
    left: 45%;
}

.console2 {
    top: 22%;
    left: 19%;
}

.console3 {
    top: 61%;
    left: 45%;
}

.front1 {
    top: 10%;
    left: -10%;
}

.front2 {
    top: 40%;
    left: -3%;
}

.item .lines {
    transition: all 500ms ease;
    left: 0;
    top: 0;
}

.item .lines:hover {
    transform: scale(1.4);
    left: -10%;
    top: 8%;
}

.opacity {
    opacity: .6;
}

.item img {
    position: absolute;
}

.dev {
    position: absolute;
    top: 32%;
    left: 34%;
}

.devImg {
    position: absolute;
}

.devShadow {
    left: 6%;
    -webkit-perspective: 240px;
    perspective: 240px;
    transform-style: preserve-3d;
    transform: rotateX(28deg) rotateY(45deg) rotateZ(5deg);
    position: absolute;
    background-color: black;
    opacity: .5;
    border-radius: 100%;
}