.dots {
    background-image: radial-gradient(#404040 2px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
    z-index: -1;
}

.dotsDesktop {
    width: 150%;
    height: 60%;
    margin-top: 15%;
    top: 0;
}

.iconsContainer {
    max-width: 800px;
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
    .leftContainer {
        height: max-content;
    }
}

@media only screen and (max-width: 1366px) {
    .mainContainer {
        justify-content: center;
        align-items: center;
    }
}