/* .section.invisible {
    opacity: 0;
}

.section {
    opacity: 1;
    transition: opacity 400ms ease;
} */


/* @media only screen and (min-width: 576px) {
    .div {
        padding: var(--header-height) 0;
    }
} */

.div {
    padding: var(--header-height) 0;
}

