.item:hover {
    background-color: #16161670;
}

.item {
    transition: background-color .5s;
}

.item:first-of-type {
    padding-top: 1.5rem;
}

.item:last-of-type {
    padding-bottom: 1.5rem;
}

.itemContainer:not(.lastContainer)  {
    padding-bottom: 1.5rem;
}