.f1 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.noCenter {
    padding: var(--header-height) 0 0 0;
}


@media only screen and (min-width: 576px) {
    .div {
        padding: var(--header-height) 0 0 0;
    }
}

@media only screen and (max-width: 576px) {
    .div {
        justify-content: center;
        align-items: center;
    }
}