.div {
    position: relative;
    opacity: 1;
    animation: wheel 1.6s infinite;
    -webkit-animation: wheel 1.6s infinite;
}

@keyframes wheel {
    0% {
        opacity: 0;
        bottom: 0px;
    }
    20% {
        opacity: 1;
        bottom: 0px;
    }

    100% {
        opacity: 0;
        bottom: 27px;
    }
}