.mouse {
    font-size: 62.5%;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
    width: 25px;
    height: 40px;
    border: 2px solid white;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}

.mouse::before {
    content: '';
    width: 5px;
    left: 48%;
    height: 5px;
    position: absolute;
    top: 7px;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
}

@keyframes wheel {
    100% {
        opacity: 0;
        top: 27px;
    }
}