.sidebar {
  width: 80%;
  height: 100%;
  background-color: var(--sidebar-active-color);
  overflow-x: hidden;
  z-index: 11;
  transition: box-shadow 0.3s;
}

.sidebar.open {
  box-shadow: 0 0 0 10000px rgba(0,0,0,.50);
  -webkit-box-shadow: 0 0 0 10000px rgba(0,0,0,.50);
  -moz-box-shadow: 0 0 0 10000px rgba(0,0,0,.50);
}