.item:hover {
    background-color: var(--card-hover-background);
}

.item {
    transition: background-color .5s;
}

.badgeText {
    color: white;
}

.dotItem {
    left: 0.65rem;
}

.item:first-of-type {
    padding-top: 1.5rem;
}

.item:last-of-type {
    padding-bottom: 1.5rem;
}

.itemContainer:not(.lastContainer)  {
    padding-bottom: 1.5rem;
}

@media only screen and (min-width: 1024px) and (min-height: 800px) {
    .ol {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .itemContainer {
        border: none;
    }

    .dotItem {
        display: none;
    }

    .order-0 {
        order: 4;
    }

    .order-1 {
        order: 3;
    }

    .order-2 {
        order: 2;
    }

    .order-3 {
        order: 1;
    }
}

@media only screen and (min-width: 1024px) and (max-height: 799px) {
    .itemContainer {
        border: none;
    }

    .dotItem {
        display: none;
    }

    .order-0 {
        order: 4;
    }

    .order-1 {
        order: 3;
    }

    .order-2 {
        order: 2;
    }

    .order-3 {
        order: 1;
    }
}

