@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

.layer2 {
    z-index: -1;
    width: 100vw;
    position: absolute;
    overflow: hidden;
}

:root {
    --header-height: 60px;
    --background-color: #040404;
    --text-color: #ffffff;
    --theme-text-gray: rgb(107 114 128);
    --header-line-color: white;
    --invert-color: 0;
    --invert-color-invert: 100%;
    --card-hover-background: #16161670;
    --slider-dot-color: rgba(255, 255, 255, 0.5);
    --slider-dot-color-active: white;
    --dropdown-bg: rgb(55 65 81);
    --dropdown-bg-hover: rgb(75 85 99);
    --header-active-color: #17171780;
    --header-active-mobile-color: #171717;
    --header-text-color: black;
    --sidebar-active-color: #202020;
    --semibold-font-weight: 600;
    /* --accent-color-primary: #9C27B0; */
    --accent-color-primary-light: #faf5ae;
    /* --accent-color-primary: #F4A949; */
    --accent-color-primary: #C6BB24;
    --accent-color-secondary: #1C5F9A;
    --gradial-circle-radiants: #1c1c1c;
    /* --accent-color-primary: #1C5F9A; */
    /* --accent-color-primary: #FF4A57; */
}

[class='light'] {
    --invert-color: 100%;
    --invert-color-invert: 0;
    --background-color: #F5FFFA;
    --text-color: #000000;
    --header-line-color: black;
    --theme-text-gray: rgb(107 114 128);
    --card-hover-background: #b3b3b370;
    --slider-dot-color: rgba(0, 0, 0, 0.5);
    --slider-dot-color-active: black;
    --dropdown-bg: white;
    --dropdown-bg-hover: rgb(243 244 246);
    --header-active-mobile-color: black;
    --header-text-color: white;
    --header-active-mobile-color: white;
}

.header-text-color {
    transition: color 1s;
    color: var(--header-text-color);
}

.dropdown-bg {
    background-color: var(--dropdown-bg);
}

.dropdown-bg-hover:hover {
    background-color: var(--dropdown-bg-hover);
}

.theme-text-gray {
    transition: color 1s;
    color: var(--theme-text-gray);
}

.filter-accent {
   filter: invert(50%) sepia(86%) saturate(393%) hue-rotate(18deg) brightness(96%) contrast(90%);
}

.filter-accent-secondary {
    filter: invert(23%) sepia(79%) saturate(2407%) hue-rotate(276deg) brightness(85%) contrast(98%);
}

.bg-accent {
    background-color: var(--accent-color-primary);
}

.bg-accent-light {
    background-color: var(--accent-color-primary-light);
}

.bg-accent-secondary {
    background-color: var(--accent-color-secondary);
}

.semibold {
    font-weight: var(--semibold-font-weight);
}

.invert-color {
    transition: filter 1s;
    filter: invert(var(--invert-color));
}

.invert-color-invert {
    transition: filter 1s;
    filter: invert(var(--invert-color-invert));
}

a.link {
    font-weight: 600;
    cursor: pointer;
}

a.link:hover {
    color: inherit;
}

a.link.hover:hover {
    color: #AAAAAA;
}

a.link:link {
    text-decoration: inherit;
    color: inherit;
}

a.link:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.fl-1 {
    flex: 1;
}

.max-h-20-vh {
    max-height: 20vh;
}

body {
    transition: background-color 1s;
    background-color: var(--background-color);
}

.as-text a.as-link {
    color: rgb(37 99 235) !important;
}

h1, h2, h3, p, .as-title, .as-text, .as-text a {
    transition: color 1s;
    color: var(--text-color) !important;
}

h1, .as-title {
    @apply text-2xl;
}

@media only screen and (min-width: 400px) {
    h1, .as-title {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }
}

@media only screen and (min-width: 576px) {
    h1, .as-title {
        @apply text-4xl;
    }

    h2 {
        @apply text-2xl;
    }
}

@media only screen and (min-width: 640px) {
    .desktop-h-100-svh {
        height: 100svh;
    }
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-xl;
}

h1, .as-title {
    color: white;
}

body, body * {
    font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    list-style-type: none;
    -ms-overflow-style: none;
    color: white;
}

ul, li {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    transition: margin-left 0.3s;
    background-color: black;
    overflow: hidden;
}

.content {
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out; 
}

.btn-unset {
    all: unset;
}

.icon-sm {
    height: 16px;
    width: 16px;
}

.icon-md {
    height: 20px;
    width: 20px;
}

.icon-xl {
    height: 24px;
    width: 24px;
}

.icon-xxl {
    height: 32px;
    width: 32px;
}

.w-100vw {
    width: 100vw;
}

.bg-black {
    background-color: black;
}

.r-180 {
    transform: rotate(180deg);
}

.r-90 {
    transform: rotate(90deg);
}

.w-100 {
    width: 100%;
}

.title-underline {
    content: '';
    width: 1.5rem;
    height: 5px;
    background-color: var(--accent-color-primary);
    border-radius: 5px;
}

.container-100dvh {
    height: calc(100dvh - var(--header-height));
}

@media only screen and (min-width: 576px) {

    .sidebar-open .content {
        margin-left: 250px;
    }
}