/* .main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.darkMode {
  background-color: black;
}

.lightMode {
  background-color: white;
}

.slide1Title {
  text-align: center;
  padding-top: 37%;
}