.container div {
    position: absolute;
    opacity: .2;
    transition: all 500ms ease;
}

.container div.active {
    opacity: 1;
}

.container div span {
    position: absolute;
}

.designLabel {
    left: 37%;
    top: 80%;
}

.frontendLabel {
    left: 8%;
    top: 39%;
}

.backendLabel {
    left: 72%;
    top: 39%;
}

